Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
	"*.ts": ["tslint -c tslint.json --fix", "prettier --write", "git add"],
	"src/**/*.ts": ["ng-lint-staged lint --fix --", "git add"],
	"*.{css,pcss,scss,html,json,md}": ["prettier --write", "git add"]
}

fix(deps): update dependency @ngx-translate/core to v11
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency ionicons to v4
  package.json
  yarn.lock
Due: prettier --write

refactor: add testing helpers
  .editorconfig
  .github/stale.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  angular.json
  config.xml
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.json
  ionic.config.json
  karma.conf.js
  package-lock.json
  package.json
  renovate.json
  src/app/app.component.spec.ts
  src/app/pages/intro/intro.html
  src/app/pages/intro/intro.spec.ts
  test/helpers.ts
  test/mocks.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

ci: fix indentation
  .editorconfig
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix: status bar color on Android
  config.xml
  src/app/app.component.ts
  src/app/directives/hide-on-keyboard-open/hide-on-keyboard-open.ts
  src/app/directives/keyboard-attach/keyboard-attach.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

ci: fix lint workflow
  .github/workflows/lint.yml
Due: none

fix: remove unused import
  test/helpers.ts
Due: tslint -c tslint.json --fix, prettier --write

build: fix resources
  resources/README.md
  resources/android/icon.png
  resources/android/icon.png.md5
  resources/android/xml/network_security_config.xml
  resources/ios/icon.png
  resources/ios/icon.png.md5
  resources/ios/icon/icon-1024.png
  resources/ios/icon/icon-20.png
  resources/ios/icon/icon-20@2x.png
  resources/ios/icon/icon-20@3x.png
  resources/ios/icon/icon-24@2x.png
  resources/ios/icon/icon-27.5@2x.png
  resources/ios/icon/icon-29.png
  resources/ios/icon/icon-29@2x.png
  resources/ios/icon/icon-29@3x.png
  resources/ios/icon/icon-40.png
  resources/ios/icon/icon-40@2x.png
  resources/ios/icon/icon-40@3x.png
  resources/ios/icon/icon-44@2x.png
  resources/ios/icon/icon-50.png
  resources/ios/icon/icon-50@2x.png
  resources/ios/icon/icon-60.png
  resources/ios/icon/icon-60@2x.png
  resources/ios/icon/icon-60@3x.png
  resources/ios/icon/icon-72.png
  resources/ios/icon/icon-72@2x.png
  resources/ios/icon/icon-76.png
  resources/ios/icon/icon-76@2x.png
  resources/ios/icon/icon-83.5@2x.png
  resources/ios/icon/icon-86@2x.png
  resources/ios/icon/icon-98@2x.png
  resources/ios/icon/icon-small.png
  resources/ios/icon/icon-small@2x.png
  resources/ios/icon/icon-small@3x.png
  resources/ios/icon/icon.png
  resources/ios/icon/icon@2x.png
  resources/splash.png.md5
Due: prettier --write

fix: keyboard behavior on iOS
  src/app/app.component.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: initialize login page
  src/app/pages/login/login.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: back button behavior on child modals
  package.json
  resources/android/xml/network_security_config.xml
  src/app/app.component.html
  src/app/app.component.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.scss
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: increase transition speed for header scrolling
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.scss
Due: prettier --write

fix: fill address when pasting
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: keyboard behavior on Android
  config.xml
  package-lock.json
  package.json
Due: prettier --write

fix: init app config
  config.xml
  package.json
  src/app/app.component.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: parse the network version for address validation
  package-lock.json
  src/app/pages/wallet/wallet-list/wallet-list.ts
  src/app/services/ark-api/ark-api.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: check for alert modals before returning
  src/app/app.component.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: do not close the backup modal
  src/app/modals/wallet-backup/wallet-backup.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

feat: initial settings
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/pages/intro/intro.module.ts
  src/app/settings/settings-routing.module.ts
  src/app/settings/settings.component.html
  src/app/settings/settings.component.ts
  src/app/settings/settings.config.ts
  src/app/settings/settings.module.ts
  src/app/settings/shared/settings.actions.ts
  src/app/settings/shared/settings.model.ts
  src/app/settings/shared/settings.service.ts
  src/app/settings/shared/settings.state.ts
  src/app/shared/shared.module.ts
  src/app/shared/storage.service.ts
  test/helpers.ts
  tslint.json
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: move settings to feature modules
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/app.constants.ts
  src/app/core/storage.service.ts
  src/app/pages/settings/settings.html
  src/app/pages/settings/settings.module.ts
  src/app/pages/settings/settings.scss
  src/app/pages/settings/settings.ts
  src/app/settings/settings-routing.module.ts
  src/app/settings/settings.component.html
  src/app/settings/settings.component.ts
  src/app/settings/settings.config.ts
  src/app/settings/shared/settings.actions.ts
  src/app/settings/shared/settings.model.ts
  src/app/settings/shared/settings.service.ts
  src/app/settings/shared/settings.state.ts
  src/app/settings/shared/settings.type.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: restore initial check
  src/app/app.component.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

feat: initial auth and pin module
  src/app/app.component.html
  src/app/app.module.ts
  src/app/auth/auth.config.ts
  src/app/auth/auth.module.ts
  src/app/auth/shared/auth.actions.ts
  src/app/auth/shared/auth.service.ts
  src/app/auth/shared/auth.state.ts
  src/app/auth/shared/auth.type.ts
  src/app/core/storage.service.ts
  src/app/pin/pin.component.html
  src/app/pin/pin.component.ts
  src/app/pin/pin.config.ts
  src/app/pin/pin.module.ts
  src/app/pin/shared/pin.actions.ts
  src/app/pin/shared/pin.state.ts
  src/app/pin/shared/pin.type.ts
  src/app/settings/settings.module.ts
  src/app/settings/shared/settings.service.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: auth -> login
  src/app/app.module.ts
  src/app/auth/auth.config.ts
  src/app/auth/auth.module.ts
  src/app/auth/shared/auth.actions.ts
  src/app/auth/shared/auth.state.ts
  src/app/auth/shared/auth.type.ts
  src/app/login/login.config.ts
  src/app/login/login.module.ts
  src/app/login/shared/login.actions.ts
  src/app/login/shared/login.service.ts
  src/app/login/shared/login.state.ts
  src/app/login/shared/login.type.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: pin -> auth
  src/app/app.component.html
  src/app/app.module.ts
  src/app/auth/auth.component.html
  src/app/auth/auth.component.ts
  src/app/auth/auth.config.ts
  src/app/auth/auth.module.ts
  src/app/auth/pin/pin.actions.ts
  src/app/auth/pin/pin.component.html
  src/app/auth/pin/pin.component.ts
  src/app/auth/pin/pin.config.ts
  src/app/auth/pin/pin.module.ts
  src/app/auth/pin/pin.service.ts
  src/app/auth/pin/pin.state.ts
  src/app/auth/pin/pin.type.ts
  src/app/auth/shared/auth.actions.ts
  src/app/auth/shared/auth.state.ts
  src/app/auth/shared/auth.type.ts
  src/app/login/shared/login.state.ts
  src/app/pages/login/login.ts
  src/app/pin/pin.component.html
  src/app/pin/pin.component.ts
  src/app/pin/pin.config.ts
  src/app/pin/pin.module.ts
  src/app/pin/shared/pin.actions.ts
  src/app/pin/shared/pin.state.ts
  src/app/pin/shared/pin.type.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore: add ngxs devtools plugin
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/auth/pin/pin.config.ts
  src/app/login/shared/login.state.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: improve pin authorization
  src/app/auth/auth.component.html
  src/app/auth/auth.component.pcss
  src/app/auth/auth.component.ts
  src/app/auth/shared/auth.actions.ts
  src/app/auth/shared/auth.controller.ts
  src/app/auth/shared/auth.state.ts
  src/app/auth/shared/auth.type.ts
  src/app/pages/login/login.module.ts
  src/app/pages/login/login.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor(auth): add attempts
  src/app/auth/auth.component.html
  src/app/auth/auth.component.ts
  src/app/auth/auth.config.ts
  src/app/auth/auth.module.ts
  src/app/auth/pin/pin.component.html
  src/app/auth/pin/pin.component.ts
  src/app/auth/pin/pin.state.ts
  src/app/auth/shared/auth.actions.ts
  src/app/auth/shared/auth.controller.ts
  src/app/auth/shared/auth.service.ts
  src/app/auth/shared/auth.state.ts
  src/app/auth/shared/auth.type.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refac: Remove unused folders for intro
  src/app/pages/intro/intro.html
  src/app/pages/intro/intro.module.ts
  src/app/pages/intro/intro.pcss
  src/app/pages/intro/intro.spec.ts
  src/app/pages/intro/intro.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refac: Add new structure to intro
  src/app/intro/intro-routing.module.ts
  src/app/intro/intro.component.html
  src/app/intro/intro.component.ts
  src/app/intro/intro.config.ts
  src/app/intro/intro.module.ts
  src/app/intro/intro.pcss
  src/app/intro/shared/intro.actions.ts
  src/app/intro/shared/intro.service.ts
  src/app/intro/shared/intro.state.ts
  src/app/intro/shared/intro.type.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refac(routing): Remove intro from app routing
  src/app/app-routing.module.ts
  src/app/app.component.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refac: Add IntroModule to app module
  src/app/app.module.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: initialize intro state
  src/app/intro/intro.component.html
  src/app/intro/intro.component.ts
  src/app/intro/intro.module.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor(auth): add unlock timestamp
  src/app/auth/auth.config.ts
  src/app/auth/pin/pin.config.ts
  src/app/auth/pin/pin.service.ts
  src/app/auth/pin/pin.state.ts
  src/app/auth/pin/pin.type.ts
  src/app/auth/shared/auth.actions.ts
  src/app/auth/shared/auth.service.ts
  src/app/auth/shared/auth.state.ts
  src/app/auth/shared/auth.type.ts
  src/app/core/operators.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refac: Add isFinished prop to state management
  src/app/intro/intro.component.ts
  src/app/intro/shared/intro.type.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refac: Add done action and isFinished to module
  src/app/intro/shared/intro.actions.ts
  src/app/intro/shared/intro.state.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refac: Bring back the test file
  src/app/app.component.ts
  src/app/intro/intro.spec.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

feat: Add NGXs router plugin
  package-lock.json
  package.json
  src/app/app.module.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore: Remove commented part
  src/app/app.component.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

feat: Use NGXs router to handle intro display
  src/app/intro/intro.component.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --
