Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
	"*.ts": ["tslint -c tslint.json --fix", "prettier --write"],
	"src/**/*.ts": ["ng-lint-staged lint --fix --"],
	"*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

fix: total amount in multipayment transactions
  src/app/models/transaction.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: show recipients in the transaction page
  src/app/models/transaction.ts
  src/app/pages/transaction/transaction-show/transaction-show.html
  src/app/pages/transaction/transaction-show/transaction-show.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
  src/assets/i18n/en.json
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: ci failing
  src/app/models/transaction.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: watch-only label in the wallets page
  src/app/pages/wallet/wallet-list/wallet-list.html
Due: prettier --write

fix: truncation of delegate approval
  src/app/pages/delegates/delegates.html
Due: prettier --write

feat: add network-overview page
  src/app/app-routing.module.ts
  src/app/components/address-list/address-list.html
  src/app/modals/custom-network-edit/custom-network-edit.html
  src/app/modals/custom-network-edit/custom-network-edit.ts
  src/app/models/contact.ts
  src/app/pages/contacts/contact-list/contact-list.ts
  src/app/pages/network/network-overview/network-overview.module.ts
  src/app/pages/network/network-overview/network-overview.page.html
  src/app/pages/network/network-overview/network-overview.page.ts
  src/app/pages/network/network-status/network-status.html
  src/app/pages/network/network-status/network-status.module.ts
  src/app/pages/network/network-status/network-status.pcss
  src/app/pages/network/network-status/network-status.ts
  src/app/pages/profiles/profile-signin/profile-signin.ts
  src/app/pages/settings/settings.ts
  src/app/services/user-data/user-data.ts
  src/assets/i18n/en.json
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: fee label overflow
  src/app/components/input-fee/input-fee.component.html
Due: prettier --write

fix: input address position
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/assets/styles/auto-complete.pcss
Due: prettier --write

fix: multipayment additional checks
  src/app/components/input-fee/input-fee.component.html
  src/app/models/transaction.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: ensure numeric type for network version
  src/app/modals/custom-network-edit/custom-network-edit.html
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore: bump version to 1.7.1
  config.xml
  package.json
Due: prettier --write

chore: update codeowners
  CODEOWNERS
Due: none

chore: update codeowners (#498)
  CODEOWNERS
Due: none

fix: ionicons update
  package-lock.json
  src/app/app.component.html
  src/app/pages/network/network-overview/network-overview.page.html
  src/app/pages/network/network-status/network-status.html
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: fee and range input correlation
  src/app/components/input-fee/input-fee.component.html
  src/app/components/input-fee/input-fee.component.ts
  src/app/components/input-fee/input-fee.module.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix(deps): update dependency cordova-plugin-local-notification to ^0.9.0-beta
  package-lock.json
  package.json
Due: prettier --write

feat: add script to find missing translations (#481)
  missing-translations.js
  package.json
  src/assets/i18n/zh.json
Due: prettier --write

fix: remove local notifications
  config.xml
  package-lock.json
  package.json
  src/app/services/local-notifications/local-notifications.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: intro screen (#471)
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/intro/intro-routing.module.ts
  src/app/intro/intro.component.html
  src/app/intro/intro.component.ts
  src/app/intro/intro.config.ts
  src/app/intro/intro.module.ts
  src/app/intro/intro.pcss
  src/app/intro/intro.spec.ts
  src/app/intro/shared/intro.actions.ts
  src/app/intro/shared/intro.service.ts
  src/app/intro/shared/intro.state.ts
  src/app/intro/shared/intro.type.ts
  src/app/pages/intro/intro.module.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

Update pt-br.json
  src/assets/i18n/pt-br.json
Due: prettier --write

chore: update pt-br translation (#484)
  src/assets/i18n/pt-br.json
Due: prettier --write

fix: remove unused local notifications provider (#503)
  config.xml
  package-lock.json
  package.json
  src/app/services/local-notifications/local-notifications.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix(deps): update dependency uuid to v7
  package-lock.json
  package.json
Due: prettier --write

fix: fee and range input correlation (#502)
  src/app/app.component.html
  src/app/components/input-fee/input-fee.component.html
  src/app/components/input-fee/input-fee.component.ts
  src/app/components/input-fee/input-fee.module.ts
  src/app/pages/network/network-overview/network-overview.page.html
  src/app/pages/network/network-status/network-status.html
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore(deps): update angularcli monorepo to ~0.900.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @ionic/angular-toolkit to ~2.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update angularcli monorepo to v9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @angular-builders/custom-webpack to v9
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update angular monorepo to v9
  package-lock.json
  package.json
Due: prettier --write

refactor: update @angular from 8 to 9
  package-lock.json
  package.json
  src/app/pages/delegates/delegates.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: remove unused pages
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/modals/custom-network-manage/custom-network-manage.html
  src/app/modals/custom-network-manage/custom-network-manage.module.ts
  src/app/modals/custom-network-manage/custom-network-manage.ts
  src/app/modals/wallet-backup/wallet-backup.html
  src/app/pages/network-status/network-status.html
  src/app/pages/network-status/network-status.module.ts
  src/app/pages/network-status/network-status.pcss
  src/app/pages/network-status/network-status.ts
  src/app/pages/profiles/profile-create/profile-create.html
  src/app/pages/wallet/wallet-dashboard/modal/register-delegate/register-delegate.html
  src/app/pages/wallet/wallet-dashboard/modal/register-delegate/register-delegate.module.ts
  src/app/pages/wallet/wallet-dashboard/modal/register-delegate/register-delegate.scss
  src/app/pages/wallet/wallet-dashboard/modal/register-delegate/register-delegate.ts
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.html
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.module.ts
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.scss
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.html
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.module.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
  src/app/pages/wallet/wallet-top-list/modal/top-wallet-details/top-wallet-details.html
  src/app/pages/wallet/wallet-top-list/modal/top-wallet-details/top-wallet-details.module.ts
  src/app/pages/wallet/wallet-top-list/modal/top-wallet-details/top-wallet-details.scss
  src/app/pages/wallet/wallet-top-list/modal/top-wallet-details/top-wallet-details.ts
  src/app/pages/wallet/wallet-top-list/wallet-top-list.html
  src/app/pages/wallet/wallet-top-list/wallet-top-list.module.ts
  src/app/pages/wallet/wallet-top-list/wallet-top-list.scss
  src/app/pages/wallet/wallet-top-list/wallet-top-list.ts
  src/app/services/ark-api/ark-api.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: update @angular from 8 to 9 (#483)
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/modals/custom-network-manage/custom-network-manage.html
  src/app/modals/custom-network-manage/custom-network-manage.module.ts
  src/app/modals/custom-network-manage/custom-network-manage.ts
  src/app/modals/wallet-backup/wallet-backup.html
  src/app/pages/delegates/delegates.ts
  src/app/pages/network-status/network-status.html
  src/app/pages/network-status/network-status.module.ts
  src/app/pages/network-status/network-status.pcss
  src/app/pages/network-status/network-status.ts
  src/app/pages/profiles/profile-create/profile-create.html
  src/app/pages/wallet/wallet-dashboard/modal/register-delegate/register-delegate.html
  src/app/pages/wallet/wallet-dashboard/modal/register-delegate/register-delegate.module.ts
  src/app/pages/wallet/wallet-dashboard/modal/register-delegate/register-delegate.scss
  src/app/pages/wallet/wallet-dashboard/modal/register-delegate/register-delegate.ts
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.html
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.module.ts
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.scss
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.html
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.module.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
  src/app/pages/wallet/wallet-top-list/modal/top-wallet-details/top-wallet-details.html
  src/app/pages/wallet/wallet-top-list/modal/top-wallet-details/top-wallet-details.module.ts
  src/app/pages/wallet/wallet-top-list/modal/top-wallet-details/top-wallet-details.scss
  src/app/pages/wallet/wallet-top-list/modal/top-wallet-details/top-wallet-details.ts
  src/app/pages/wallet/wallet-top-list/wallet-top-list.html
  src/app/pages/wallet/wallet-top-list/wallet-top-list.module.ts
  src/app/pages/wallet/wallet-top-list/wallet-top-list.scss
  src/app/pages/wallet/wallet-top-list/wallet-top-list.ts
  src/app/services/ark-api/ark-api.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: add intro guard
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/pages/intro/intro.guard.ts
  src/app/pages/intro/intro.html
  src/app/pages/intro/intro.pcss
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

test: initial cucumber features
  e2e/app.steps.ts
  e2e/intro/intro.feature
  e2e/intro/intro.po.ts
  e2e/intro/intro.steps.ts
  e2e/login/login.feature
  e2e/login/login.po.ts
  e2e/login/login.steps.ts
  e2e/pin/pin.feature
  e2e/pin/pin.po.ts
  e2e/pin/pin.steps.ts
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.e2e.json
  e2e/utils/browser.po.ts
  package-lock.json
  package.json
  src/app/modals/pin-code/pin-code.html
  src/app/pages/login/login.html
  src/app/pages/login/login.scss
  test/helpers.ts
  test/mocks.ts
  tsconfig.app.json
Due: tslint -c tslint.json --fix, prettier --write
