Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
	"*.ts": ["tslint -c tslint.json --fix", "prettier --write", "git add"],
	"src/**/*.ts": ["ng-lint-staged lint --fix --", "git add"],
	"*.{css,pcss,scss,html,json,md}": ["prettier --write", "git add"]
}

chore(deps): update dependency karma-jasmine to v3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v3
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @ngx-translate/core to v12
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @ngx-translate/http-loader to v4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency bip38 to v3
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency bip39 to v3
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency cordova-plugin-add-swift-support to v2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency ionicons to v5
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency ng2-charts to v2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency ngx-filter-pipe to v2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency rxjs to v6
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency semver to v7
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update ionic-native monorepo to v5
  package.json
  yarn.lock
Due: prettier --write

fix: remove register delegate option
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: check type group for the transaction label
  src/app/models/transaction.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
  src/assets/i18n/en.json
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: update contacts after adding
  src/app/pages/contacts/contact-list/contact-list.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: copy address button
  src/app/models/transaction.ts
  src/app/pages/contacts/contact-list/contact-list.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.html
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
  src/app/pages/wallet/wallet-list/wallet-list.html
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: multisignature label
  src/app/models/transaction.ts
  src/app/pages/wallet/wallet-list/wallet-list.html
  src/app/pages/wallet/wallet-list/wallet-list.ts
  src/assets/i18n/en.json
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: convert watch-only wallet
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: reactivate import button
  src/app/pages/wallet/wallet-import-manual/wallet-import-manual.ts
  src/app/pages/wallet/wallet-import/wallet-import.base.ts
  src/app/pages/wallet/wallet-import/wallet-import.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: update watch-only field
  src/app/pages/wallet/wallet-import/wallet-import.base.ts
  src/app/services/ark-api/ark-api.ts
  src/app/services/user-data/user-data.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore: bump version to 1.7.0
  config.xml
  package.json
Due: prettier --write

fix: remove cordova-plugin-background-mode
  config.xml
  package-lock.json
  package.json
Due: prettier --write

fix: remove cordova-plugin-background-mode (#479)
  config.xml
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @ionic/angular to v5
  package-lock.json
  package.json
Due: prettier --write

feat: add script to find missing translations
  missing-translations.js
  package.json
  src/assets/i18n/zh.json
Due: prettier --write

chore: update pt-br translation
  src/assets/i18n/pt-br.json
Due: prettier --write

feat: add input-currency component
  src/app/components/input-currency/input-currency.component.html
  src/app/components/input-currency/input-currency.component.ts
  src/app/components/input-currency/input-currency.module.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: implement input-currency
  src/app/components/amount/amount.html
  src/app/components/amount/amount.model.ts
  src/app/components/amount/amount.ts
  src/app/components/input-amount/input-amount.component.html
  src/app/components/input-amount/input-amount.component.scss
  src/app/components/input-amount/input-amount.component.ts
  src/app/components/input-amount/input-amount.module.ts
  src/app/components/input-currency/input-currency.component.ts
  src/app/components/input-fee/input-fee.component.html
  src/app/components/input-fee/input-fee.component.scss
  src/app/components/input-fee/input-fee.component.ts
  src/app/components/input-fee/input-fee.module.ts
  src/app/models/transaction.ts
  src/app/pages/transaction/transaction-receive/transaction-receive.html
  src/app/pages/transaction/transaction-receive/transaction-receive.module.ts
  src/app/pages/transaction/transaction-receive/transaction-receive.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.module.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pipes/market-number/market-number.ts
  src/app/services/ark-api/ark-api.ts
  src/app/utils/ark-utility.ts
  src/app/utils/bignumber.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

wip
  .github/workflows/test.yml
Due: none

feat: add network-overview page
  src/app/app-routing.module.ts
  src/app/components/address-list/address-list.html
  src/app/modals/custom-network-edit/custom-network-edit.html
  src/app/modals/custom-network-edit/custom-network-edit.ts
  src/app/models/contact.ts
  src/app/pages/contacts/contact-list/contact-list.ts
  src/app/pages/network/network-overview/network-overview.module.ts
  src/app/pages/network/network-overview/network-overview.page.html
  src/app/pages/network/network-overview/network-overview.page.ts
  src/app/pages/network/network-status/network-status.html
  src/app/pages/network/network-status/network-status.module.ts
  src/app/pages/network/network-status/network-status.pcss
  src/app/pages/network/network-status/network-status.ts
  src/app/pages/profiles/profile-signin/profile-signin.ts
  src/app/pages/settings/settings.ts
  src/app/services/user-data/user-data.ts
  src/assets/i18n/en.json
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: fiat amount correlation (#487)
  src/app/components/amount/amount.html
  src/app/components/amount/amount.model.ts
  src/app/components/amount/amount.ts
  src/app/components/input-amount/input-amount.component.html
  src/app/components/input-amount/input-amount.component.scss
  src/app/components/input-amount/input-amount.component.ts
  src/app/components/input-amount/input-amount.module.ts
  src/app/components/input-currency/input-currency.component.html
  src/app/components/input-currency/input-currency.component.ts
  src/app/components/input-currency/input-currency.module.ts
  src/app/components/input-fee/input-fee.component.html
  src/app/components/input-fee/input-fee.component.scss
  src/app/components/input-fee/input-fee.component.ts
  src/app/components/input-fee/input-fee.module.ts
  src/app/models/transaction.ts
  src/app/pages/transaction/transaction-receive/transaction-receive.html
  src/app/pages/transaction/transaction-receive/transaction-receive.module.ts
  src/app/pages/transaction/transaction-receive/transaction-receive.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.module.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pipes/market-number/market-number.ts
  src/app/services/ark-api/ark-api.ts
  src/app/utils/ark-utility.ts
  src/app/utils/bignumber.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: total amount in multipayment transactions
  src/app/models/transaction.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: show recipients in the transaction page
  src/app/models/transaction.ts
  src/app/pages/transaction/transaction-show/transaction-show.html
  src/app/pages/transaction/transaction-show/transaction-show.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
  src/assets/i18n/en.json
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: ci failing
  src/app/models/transaction.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: watch-only label in the wallets page
  src/app/pages/wallet/wallet-list/wallet-list.html
Due: prettier --write

fix: truncation of delegate approval
  src/app/pages/delegates/delegates.html
Due: prettier --write
