Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: register back button
  src/app/app.component.ts
  src/app/modals/generate-entropy/generate-entropy.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: passphrase validation
  src/app/app.component.ts
  src/app/modals/wallet-backup/wallet-backup.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: fix keyboard overflow
  config.xml
  package.json
  resources/android/xml/network_security_config.xml
  src/app/app.component.ts
  src/app/pipes/timezone/timezone.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: angular production mode
  angular.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/progress-bar/progress-bar.ts
  src/app/modals/confirm-transaction/confirm-transaction.ts
  src/app/modals/qr-scanner/qr-scanner.ts
  src/app/pages/delegates/delegate-detail/delegate-detail.html
  src/app/pages/delegates/delegates.html
  src/app/pages/delegates/delegates.ts
  src/app/pages/settings/settings.ts
  src/app/pages/transaction/transaction-receive/transaction-receive.html
  src/app/pages/transaction/transaction-receive/transaction-receive.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-show/transaction-show.ts
  src/app/pages/wallet/wallet-dashboard/modal/register-second-passphrase/register-second-passphrase.module.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
  src/app/pipes/account-label/account-label.ts
  src/app/pipes/truncate-middle/truncate-middle.ts
  src/app/services/event-bus/event-bus.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: internet connection on android
  config.xml
  package.json
  resources/android/xml/network_security_config.xml
  src/app/modals/confirm-transaction/confirm-transaction.html
Due: prettier --write

fix: wallets card alignment
  config.xml
  src/app/pages/wallet/wallet-list/wallet-list.html
  src/theme/variables.scss
Due: prettier --write

fix: screen orientation provider
  config.xml
  src/app/app.component.ts
  src/app/app.module.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

test: setup karma
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/pages/intro/intro.module.ts
  src/app/pages/intro/intro.spec.ts
  src/app/pages/login/login.spec.ts
  src/app/pages/network-status/network-status.spec.ts
  src/app/shared.module.ts
  tsconfig.spec.json
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

docs: improve installation and build instructions
  .nvmrc
  README.md
  banner.png
  package.json
Due: prettier --write

test: setup protactor
  .lintstagedrc
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  package-lock.json
  package.json
  tsconfig.spec.json
Due: tslint -c tslint.json --fix, prettier --write

fix: set app background color
  package.json
  src/assets/styles/app.pcss
  src/theme/variables.scss
Due: prettier --write

fix: wallet backup page
  package.json
  src/app/modals/wallet-backup/wallet-backup.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

build: add test coverage command
  karma.conf.js
  package.json
Due: prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write

fix: status bar color
  config.xml
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/pages/login/login.ts
  src/app/pages/wallet/wallet-list/wallet-list.pcss
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: sign out when press the back button
  src/app/app.component.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: remove unused import
  test/helpers.ts
Due: tslint -c tslint.json --fix, prettier --write

fix: status bar color on Android
  config.xml
  src/app/app.component.ts
  src/app/directives/hide-on-keyboard-open/hide-on-keyboard-open.ts
  src/app/directives/keyboard-attach/keyboard-attach.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: add testing helpers
  .editorconfig
  .github/stale.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  angular.json
  config.xml
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.json
  ionic.config.json
  karma.conf.js
  package-lock.json
  package.json
  renovate.json
  src/app/app.component.spec.ts
  src/app/pages/intro/intro.html
  src/app/pages/intro/intro.spec.ts
  test/helpers.ts
  test/mocks.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

build: fix resources
  resources/README.md
  resources/android/icon.png
  resources/android/icon.png.md5
  resources/android/xml/network_security_config.xml
  resources/ios/icon.png
  resources/ios/icon.png.md5
  resources/ios/icon/icon-1024.png
  resources/ios/icon/icon-20.png
  resources/ios/icon/icon-20@2x.png
  resources/ios/icon/icon-20@3x.png
  resources/ios/icon/icon-24@2x.png
  resources/ios/icon/icon-27.5@2x.png
  resources/ios/icon/icon-29.png
  resources/ios/icon/icon-29@2x.png
  resources/ios/icon/icon-29@3x.png
  resources/ios/icon/icon-40.png
  resources/ios/icon/icon-40@2x.png
  resources/ios/icon/icon-40@3x.png
  resources/ios/icon/icon-44@2x.png
  resources/ios/icon/icon-50.png
  resources/ios/icon/icon-50@2x.png
  resources/ios/icon/icon-60.png
  resources/ios/icon/icon-60@2x.png
  resources/ios/icon/icon-60@3x.png
  resources/ios/icon/icon-72.png
  resources/ios/icon/icon-72@2x.png
  resources/ios/icon/icon-76.png
  resources/ios/icon/icon-76@2x.png
  resources/ios/icon/icon-83.5@2x.png
  resources/ios/icon/icon-86@2x.png
  resources/ios/icon/icon-98@2x.png
  resources/ios/icon/icon-small.png
  resources/ios/icon/icon-small@2x.png
  resources/ios/icon/icon-small@3x.png
  resources/ios/icon/icon.png
  resources/ios/icon/icon@2x.png
  resources/splash.png.md5
Due: prettier --write

ci: fix indentation
  .editorconfig
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci: fix lint workflow
  .github/workflows/lint.yml
Due: none

fix: increase transition speed for header scrolling
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.scss
Due: prettier --write

fix: parse the network version for address validation
  package-lock.json
  src/app/pages/wallet/wallet-list/wallet-list.ts
  src/app/services/ark-api/ark-api.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: check for alert modals before returning
  src/app/app.component.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: keyboard behavior on Android
  config.xml
  package-lock.json
  package.json
Due: prettier --write

fix: back button behavior on child modals
  package.json
  resources/android/xml/network_security_config.xml
  src/app/app.component.html
  src/app/app.component.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.scss
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: check for second public key
  src/app/components/pin-code/pin-code.ts
  src/app/models/wallet.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: keyboard behavior on iOS
  src/app/app.component.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: initialize login page
  src/app/pages/login/login.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: fill address when pasting
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: init app config
  config.xml
  package.json
  src/app/app.component.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: change pin modal
  src/app/pages/settings/settings.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: do not close the backup modal
  src/app/modals/wallet-backup/wallet-backup.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

test: fix failing
  src/app/pages/settings/settings.html
Due: prettier --write

chore: update deps
  .lintstagedrc.json
  package-lock.json
  package.json
  src/app/pages/settings/settings.ts
  src/app/services/user-data/user-data.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore(deps): update dependency @types/node to v10.17.14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency babel-loader to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency copy-webpack-plugin to v5
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  tslint -c tslint.json --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{css,pcss,scss,html,json,md})
  ng-lint-staged lint --fix --: any of: src/**/*.ts
