Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
	"*.ts": ["tslint -c tslint.json --fix", "prettier --write"],
	"src/**/*.ts": ["ng-lint-staged lint --fix --"],
	"*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

hotfix: Update wallets property if is empty
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

hotfix: update and propagate wallets property (#504)
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore: remove cordova-plugin-ionic-webview
  config.xml
  package-lock.json
  package.json
Due: prettier --write

test: Enable coverage
  angular.json
Due: prettier --write

test: Add storage unitary tests scratch
  src/app/services/storage/storage.spec.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

test: Disable random tests run
  karma.conf.js
Due: prettier --write

chore: Lint fix
  src/app/services/storage/storage.spec.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

feat: add wallet picker modal
  src/app/components/address-list/address-list.html
  src/app/components/address-list/address-list.pcss
  src/app/components/close-popup/close-popup.html
  src/app/components/wallet-picker/wallet-picker.component.html
  src/app/components/wallet-picker/wallet-picker.component.module.ts
  src/app/components/wallet-picker/wallet-picker.component.pcss
  src/app/components/wallet-picker/wallet-picker.component.ts
  src/app/components/wallet-picker/wallet-picker.modal.html
  src/app/components/wallet-picker/wallet-picker.modal.module.ts
  src/app/components/wallet-picker/wallet-picker.modal.ts
  src/app/models/contact.ts
  src/app/pages/login/login.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.module.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
  src/app/services/account-auto-complete/account-auto-complete.ts
  src/app/services/user-data/user-data.ts
  src/assets/styles/app.pcss
  src/assets/styles/auto-complete.pcss
  src/global.scss
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore: remove ionic4-auto-complete
  package-lock.json
  package.json
Due: prettier --write

fix: search bar and segment on the delegates screen
  src/app/pages/delegates/delegates.html
  src/app/pages/delegates/delegates.pcss
Due: prettier --write

fix: background color when a modal is open
  src/assets/styles/app.pcss
Due: prettier --write

refactor: implement input-address component
  src/app/components/input-address/input-address.component.html
  src/app/components/input-address/input-address.component.scss
  src/app/components/input-address/input-address.component.ts
  src/app/components/input-address/input-address.module.ts
  src/app/directives/directives.module.ts
  src/app/directives/value-mask-on-blur/value-mask-on-blur.ts
  src/app/pages/login/login.module.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.module.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: ensure only valid addresses in the current network
  src/app/components/wallet-picker/wallet-picker.modal.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: search bar and segment on the delegates screen (#508)
  src/app/pages/delegates/delegates.html
  src/app/pages/delegates/delegates.pcss
Due: prettier --write

fix: delegate vote form
  src/app/pages/delegates/delegate-detail/delegate-detail.html
  src/app/pages/delegates/delegate-detail/delegate-detail.module.ts
  src/app/pages/delegates/delegate-detail/delegate-detail.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

test: increase coverage to 100%
  src/app/services/storage/storage.spec.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

test: rename constant
  src/app/services/storage/storage.spec.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

chore: remove flag to run only
  src/app/services/storage/storage.spec.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

fix: delegate vote form (#509)
  src/app/pages/delegates/delegate-detail/delegate-detail.html
  src/app/pages/delegates/delegate-detail/delegate-detail.module.ts
  src/app/pages/delegates/delegate-detail/delegate-detail.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

refactor: wallet selection on the transfer screen (#507)
  package-lock.json
  package.json
  src/app/components/address-list/address-list.html
  src/app/components/address-list/address-list.pcss
  src/app/components/close-popup/close-popup.html
  src/app/components/input-address/input-address.component.html
  src/app/components/input-address/input-address.component.scss
  src/app/components/input-address/input-address.component.ts
  src/app/components/input-address/input-address.module.ts
  src/app/components/wallet-picker/wallet-picker.component.html
  src/app/components/wallet-picker/wallet-picker.component.module.ts
  src/app/components/wallet-picker/wallet-picker.component.pcss
  src/app/components/wallet-picker/wallet-picker.component.ts
  src/app/components/wallet-picker/wallet-picker.modal.html
  src/app/components/wallet-picker/wallet-picker.modal.module.ts
  src/app/components/wallet-picker/wallet-picker.modal.ts
  src/app/directives/directives.module.ts
  src/app/directives/value-mask-on-blur/value-mask-on-blur.ts
  src/app/models/contact.ts
  src/app/pages/login/login.module.ts
  src/app/pages/login/login.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.module.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
  src/app/services/account-auto-complete/account-auto-complete.ts
  src/app/services/user-data/user-data.ts
  src/assets/styles/app.pcss
  src/assets/styles/auto-complete.pcss
  src/global.scss
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

test: add storage service unitary tests (#506)
  angular.json
  karma.conf.js
  src/app/services/storage/storage.spec.ts
Due: tslint -c tslint.json --fix, prettier --write, ng-lint-staged lint --fix --

test: fix coverage statistic
  karma.conf.js
  package-lock.json
  package.json
Due: prettier --write

fix: get rid of warning messages
  test/mocks.ts
  tsconfig.app.json
Due: tslint -c tslint.json --fix, prettier --write

ci: setup codecov
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: prettier --write

fix: add exclude pattern to the coverage report
  karma.conf.js
Due: prettier --write

test: fix coverage statistic (#510)
  .github/workflows/test.yml
  karma.conf.js
  package-lock.json
  package.json
  test/mocks.ts
  tsconfig.app.json
Due: tslint -c tslint.json --fix, prettier --write

build: enable aot compilation by default
  angular.json
Due: prettier --write

ci: do not install pre deps to lint
  .github/workflows/lint.yml
Due: none

wip
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: prettier --write

wip
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

docs: update instructions to install @ionic/cli
  README.md
Due: prettier --write

chore: update @angular/cli
  package-lock.json
  package.json
Due: prettier --write

chore: update @angular/core
  package-lock.json
  package.json
Due: prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write

chore: setup ionic appflow
  ionic.config.json
Due: prettier --write

chore: setup ionic appflow (#513)
  ionic.config.json
Due: prettier --write

build: enable aot compilation by default (#511)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.md
  angular.json
  package-lock.json
  package.json
Due: prettier --write

chore: setup ionic appflow sdk
  ionic.config.json
  package-lock.json
  package.json
Due: prettier --write
